<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="/css/layout.css" rel="stylesheet" type="text/css" media="screen" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href="/css/index.css" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'/>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'/>
        {{{block "cssHolder"}}}
    </head>
    <body>
        <div id="main_content">
            <div class="main-body">
                <div class="main-content">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="images/icon-sale.jpg" alt=""/>Book any package and get 50% off on your next month’s rent.</a>
                </div>
            </div>
        </nav>
        <div class="header clearfix">
            <div class="brand">
                <img src="images/brand.jpg" alt="Furlenco"/>
            </div>
            <div class="right-header">
                <img src="images/icon-location.jpg" alt=""/>
                <p>Bangalore <img src="images/icon-down-arrow.jpg" alt=""/></p>
                <img src="images/icon-cart.jpg" alt="" class="icon-cart"/>
            </div>
        </div>
    </div>
                {{{body}}}
            </div>
            </div>
        </div>
        <footer>

        </footer>
         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
        {{{block "scriptHolder"}}}
	</body>
</html>