<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="/css/layout.css" rel="stylesheet" type="text/css" media="screen" />
        {{{block "cssHolder"}}}
    </head>
    <body>
        <div id="main_content">
            <header>
            </header>
            <div class="main-body">
                {{{body}}}
            </div>
        </div>
        {{{block "scriptHolder"}}}
	</body>
</html>