{{!< layout}}
{{#contentFor "cssHolder"}}
<link href="/css/index.css" rel="stylesheet" type="text/css" />
{{/contentFor}}

<div>{{title}} - Index page
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		Page: <select id="ddwn">
			<option value="product">product</option>
		</select>
		Short By 
		<input type="radio" name="filter" value="Time Stamp"/>Time Stamp
		<input type="radio" name="filter" value="Product Name" />Product Name
		<input type="radio" name="filter" value="Product Price" />Product Price
      <div id="container"></div>
</div>

{{#contentFor "scriptHolder"}}
<script>
$(document).ready(function(){
	var page_Name = 'product';
	var type = 'Time Stamp';
	google.charts.load('current', {'packages':['line']});

		$('input[name="filter"]').change(function(){
			page_Name = $('#ddwn').val();
			type = $('input[name="filter"]:checked').val();
			demo();
		})
		function demo(){
		    $.ajax({
			  dataType: "json",
			  url: 'http://192.168.2.97:3000/api/pushTracking/getAll',
			  success: function(data){
			  		drawChart(data);
				}
			});
		}
		function drawChart(response){
			var obj = {};
			var a = [];
		  	var b = [];
		  	var c = {};
		  	$(response).each(function( key,value ) {
		  	 if( page_Name === value.pageName){
		  	 if(type === 'Time Stamp'){	
				  if(obj[value.timeStamp] === undefined)
				  	obj[value.timeStamp] = 1;
				  else
				  	obj[value.timeStamp] = obj[value.timeStamp]+1;
				  }
			  else if(type === 'Product Name'){	
				  if(obj[value.timeStamp+':'+value.options.productName] === undefined)
				  	obj[value.timeStamp+':'+value.options.productName] = 1;
				  else
				  	obj[value.timeStamp+':'+value.options.productName] = obj[value.timeStamp+':'+value.options.productName]+1;
				  }
			  else if(type === 'Product Price'){	
				  if(obj[value.timeStamp+':'+value.options.productPrice] === undefined)
				  	obj[value.timeStamp+':'+value.options.productPrice] = 1;
				  else
				  	obj[value.timeStamp+':'+value.options.productPrice] = obj[value.timeStamp+':'+value.options.productPrice]+1;
				  }
			  }
			  
			});
			console.log(obj);
			$.map( obj, function( val, i ) {
				 a.push(new Date(Number(i.split(':')[0])));
				 b.push(val);
				 c[i.split(':')[0]] = i.split(':')[1];
			});
			console.log(c);
			if(a.length == 0){
				alert('No Record Found');
				return;}

		    $('#container').highcharts({
		        title: {
		            text: 'Fruit Consumption'
		        },
		        tooltip: {
				    formatter: function() {
				        return this.x+ '<br/> Hit Count <b>' + this.y + '</b>'+'<br/>'+type+' <b>'+c[this.x]+'</b>';
				    }
				},
		        xAxis: {
		            categories: a
		        },
		        yAxis: {
		            title: {
		                text: 'Fruit eaten'
		            }
		        },
		        series: [{
		            data: b
		        }]
		    });
		    
		}
	demo();
});
</script>
<script src="http://code.highcharts.com/highcharts.js"></script>
{{/contentFor}}