{{!< layout}}
{{#contentFor "cssHolder"}}
<link href="/css/index.css" rel="stylesheet" type="text/css" />
{{/contentFor}}

<div>{{title}} - Index page
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<select id="ddwn">
			<option value="graph">graph</option>
			<option value="product">product</option>
			<option value="chart">chart</option>
			<option value="localhost:3000">localhost:3000</option>
			<option value="192.168.2.97:3000">192.168.2.97:3000</option>
			<option value="index">index</option>
		</select>
      <div id="chart_div"></div>
</div>

{{#contentFor "scriptHolder"}}
<script>
$(document).ready(function(){
	var page_Name = 'graph';
		$('#ddwn').change(function(){
			page_Name = $(this).val();
			demo();
		});

		google.charts.load('current', {'packages':['line']});
		function demo(){
		    $.ajax({
			  dataType: "json",
			  url: 'http://192.168.2.97:3000/api/pageHitCount/getAll',
			  success: function(response){
			  	var obj = {};
			  	var a = [];
			  	$(response).each(function( key,value ) {
			  	 if( page_Name === value.pageName){	
			  	 	console.log(value.timeStamp);
				  if(obj[value.timeStamp] === undefined)
				  	obj[value.timeStamp] = 1;
				  else
				  	obj[value.timeStamp] = obj[value.timeStamp]+1;
				  }
				});
				$.map( obj, function( val, i ) {
					  a.push([new Date(Number(i)),val]);
				});
			      google.charts.setOnLoadCallback(drawChart);
				  function drawChart() {
				 var chartDiv = document.getElementById('chart_div');
				  var data = new google.visualization.DataTable();
			      data.addColumn('date', 'Date And Time');
			      data.addColumn('number', 'Hit Count');
				  data.addRows(a);
				  var materialOptions = {
			        chart: {
			          title: 'Average Temperatures and Daylight in Iceland Throughout the Year'
			        },
			        width: 900,
			        height: 600,
			        series: {
			          0: {axis: 'Hits'}
			        },
			        axes: {
			          y: {
			            Hits: {label: 'Hit Count'}
			          }
			        }
			      };

			      function drawMaterialChart() {
			        var materialChart = new google.charts.Line(chartDiv);
			        materialChart.draw(data, materialOptions);
			      }
			      drawMaterialChart();
			      
			    }
			}
		});
	}
	demo();
});
</script>
{{/contentFor}}