{{!< layout}}
{{#contentFor "cssHolder"}}
<link href="/css/index.css" rel="stylesheet" type="text/css" />
{{/contentFor}}

<div>{{title}} - Index page</div>

{{#contentFor "scriptHolder"}}

{{/contentFor}}