{{!< layout}}
<hr>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-lg-4">
			<div class="list-group">
			  <a href="#" class="list-group-item active" id="credit-card">Credit Card</a>
			  <a href="#" class="list-group-item" id="debit-card">Debit Card</a>
			  <a href="#" class="list-group-item" id="cod">Cash On Delivery</a>
			  <a href="#" class="list-group-item" id="net-banking">Net Banking</a>
			</div>
			<div class="list-group" style="font-size: 16px;color: #999;">
			<h1 style="text-align: center;font-size: 25px;">Item Details</h1>
		  	<div class="list-group-item">Product : <span style="color: #666;font-size:14px">{{product}}</span></div>
		  	<div class="list-group-item">Grand Total : <span style="color: #42A9C1;font-weight: 600;">₹{{price}}</span></div>

		</div>
		</div>
		<div class="col-sm-8 col-lg-8">
			<div id="userForm">
				Selected mode of transfer amount is :<span>Credit Card</span>
				<div class="form-group">
					<label for="exampleInputEmail1">Name</label>
					<input type="text" name="custName" class="form-control" id="exampleInputName" placeholder="Name">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" name="custEmail" class="form-control" id="exampleInputEmail" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Phone Number</label>
					<input type="phone" name="cushMob" class="form-control" id="exampleInputPhoneNumber" placeholder="Phone Number">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">City Name</label>
					<input type="text" name="custCity" class="form-control" id="exampleInputCityName" placeholder="City Name">
				</div>
				<button type="submit" class="btn btn-default" id="paynow">Py Now</button>
			</div>
			<div id="other"></div>
		</div>
	</div>
	
</div>



{{#contentFor "scriptHolder"}}
<script type="text/javascript">
	var cardtype="Credit Card";
	$('#credit-card').click(function(){
		$('form span').text("Credit Card");
		cardtype="Credit Card";
	})
	$('#debit-card').click(function(){
		$('form span').text("Debit Card");
		cardtype="Debit Card";
	})
	$('#cod').click(function(){
		$('form span').text("Cash On Delivery")
		cardtype="Cash On Delivery";
	})
	$('#net-banking').click(function(){
		$('form span').text("Net Banking")
		cardtype="Net Banking";
	})
	$("#paynow").on('click',function(event) {
		$(this).attr("disabled", "disabled");
		var nameValue=$('#exampleInputName').val();
		var emailValue=$('#exampleInputEmail').val();
	    var phoneValue=$('#exampleInputPhoneNumber').val();
		var cityValue=$('#exampleInputCityName').val();

		var formdata={
			CustName:nameValue,
			CustEmail:emailValue,
			CustPhone:phoneValue,
			CustCity:cityValue,
			paymentMode:cardtype,
			timeStamp: Math.floor(((new Date()).getTime())/1000)*1000,
		}
		Tracker.pushTracking("Final Payment", 'click', formdata);
		$.post("/api/doPayment", formdata, function(resp){
			$("#other").text("Thanks for using our service")
		});			
	  event.preventDefault();			
	});			
</script>
{{/contentFor}}