<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta content="nofollow, noindex" name="robots" />
        <style type="text/css">
            @media print{body{-webkit-print-color-adjust:exact;} .print-color{background:#ea4c53!important;}
        </style>
        <script id="clientEventHandlersJS" type="text/javascript">
            function window_onload() {
                window.print();
            }
        </script>
    </head>
    <body onload="return window_onload()">
        <table border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
            <tbody>
                <tr>
                    <td colspan="2" align="center">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="print-color" style="overflow:visible;text-align:left;font-variant:normal;font-weight:normal;font-size:13px;line-height:20px;font-family:Asap,sans-serif;color:#333;font-style:normal;width:750px;padding:5px 28px;background-color:#60B1D8">
                                            <tbody>
                                                <tr>
                                                    <td style="width:50%"><img style="width:200px; height:78px;" src="/images/furlenco.png" alt="furlenco logo"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;font-size:16px;line-height:30px;color:#fff; colspan="2">Furniture Booking Confirmed, Ready for delivery  !</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table style="overflow:visible;text-align:left;font-variant:normal;font-weight:normal;font-size:13px;line-height:20px;font-family:Asap,sans-serif;color:#666;font-style:normal;width:750px;padding:5px 15px;">
                                            <tbody>
                                                <tr>
                                                    <td>Hi <span style="font-weight: 600;text-transform: capitalize;">{{name}}</span>,</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Thanks for booking your product with furlenco. A comfortable and stylish furniture will be at your door very soon. Please visit us again.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#ea4c53;font-weight:600">Booking ID : <span>{d4|s}</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#ea4c53;font-weight:600">Voucher ID : <span>{d5|s}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table style="overflow:visible;text-align:left;font-variant:normal;font-weight:normal;font-size:13px;line-height:20px;font-family:Asap,sans-serif;color:#666;font-style:normal;width:750px;padding:5px 15px;">
                                            <tbody>
                                                <tr>
                                                    <td style="font-weight:600;padding-bottom:10px;border-bottom:1px dotted #ccc" colspan="2">Product Details</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                        <table style="overflow:visible;text-align:left;font-variant:normal;font-weight:normal;font-size:13px;line-height:20px;font-family:Asap,sans-serif;color:#666;font-style:normal;width:750px;padding:5px 15px;">
                                            <tbody>
                                                <tr>
                                                    <td style="font-weight:600;padding-bottom:10px;border-bottom:1px dotted #ccc" colspan="2">Payment Details</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table style="width:60%;font-size:13px;color:#666">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:5px 0">Product Rate</td>
                                                                    <td></td>
                                                                    <td style="padding:5px 0"><img src="http://s1.rdbuz.com/trips/images/ticket/rupee-symbol.png" style="vertical-align: middle;width:8px"> <span style="vertical-align:middle">{d21|s}</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding:5px 0">Taxes</td>
                                                                    <td></td>
                                                                    <td style="padding:5px 0"><img src="http://s1.rdbuz.com/trips/images/ticket/rupee-symbol.png" style="vertical-align: middle;width:8px"> <span style="vertical-align:middle">{d22|s}</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="color:#6bb648;padding:5px 0">Discount</td>
                                                                    <td style="text-align: right;color: #6bb648;font-size: 20px;line-height: 1px;">-</td>
                                                                    <td style="color:#6bb648;padding:5px 0"><img src="http://s1.rdbuz.com/trips/images/ticket/rupee-symbol.png" style="vertical-align: middle;width:8px"> <span style="vertical-align:middle">{d23|s}</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding:5px 0">Grand Total</td>
                                                                    <td></td>
                                                                    <td style="font-size:15px;font-weight:600;padding:5px 0"><img src="http://s1.rdbuz.com/trips/images/ticket/rupee-symbol.png" style="vertical-align: middle;width:8px"> <span style="vertical-align:middle">{d24|s}</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="print-color" style="overflow:visible;text-align:center;font-variant:normal;font-weight:normal;font-size:13px;line-height:20px;font-family:Asap,sans-serif;color:#fff;background-color:#60B1D8;font-style:normal;width:750px;padding:5px 15px;">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-bottom:10px;text-align:center;font-size:16px" colspan="2">Customer Support</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">Questions related to the property, you can contact hotel <span>989-654-6468</span></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><span>584-684-5848</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>