{{!< layout}}
{{#contentFor "cssHolder"}}
  <link href="/css/index.css" rel="stylesheet" type="text/css" />
{{/contentFor}}
<hr>
<div class="container">
	<div class="container-product">
		<h4>We Found <b>8</b> packages for you.</h4>
		<ul>
			<li>
				<a href="#"><img src="images/bg-li-1.jpg" alt="" />
					<h2>Pico 2 BHK</h2>
					<p>A full 2 BHK solution for your house! Once you take this you need not worry about anyth...</p>
					<div>Starts at ₹300/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li>
				<a href="#"><img src="images/bg-li-2.jpg" alt="" />
					<h2>Bounce M</h2>
					<p>Bounce M is the new member from the Bounce family, which is known for being  multi-face...</p>
					<div>Starts at ₹300/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li>
				<a href="#"><img src="images/bg-li-3.jpg" alt="" />
					<h2>The Couch Potato</h2>
					<p>A full 2 BHK solution for your house! Once you take this you need not worry about anyth...</p>
					<div>Starts at ₹5000/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li>
				<a href="#"><img src="images/bg-li-4.jpg" alt="" />
					<h2>Pico Dining Room</h2>
					<p>Bounce M is the new member from the Bounce family, which is known for being  multi-face...</p>
					<div>Starts at ₹200/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li class="fifth">
				<a href="#"><img src="images/bg-li-8.jpg" alt="" />
					<h2>Work From Home Zone</h2>
					<p>A full 2 BHK solution for your house! Once you take this you need not worry about anyth...</p>
					<div>Starts at ₹1500/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li>
				<a href="#"><img src="images/bg-li-6.jpg" alt="" />
					<h2>Mili Workstation</h2>
					<p>A full 2 BHK solution for your house! Once you take this you need not worry about anyth...</p>
					<div>Starts at ₹4500/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li>
				<a href="#"><img src="images/bg-li-7.jpg" alt="" />
					<h2>Elite 1 BHK</h2>
					<p>Bounce M is the new member from the Bounce family, which is known for being  multi-face...</p>
					<div>Starts at ₹900/mo<span>Add to Cart</span></div>
				</a>
			</li>
			<li>
				<a href="#"><img src="images/bg-li-8.jpg" alt="" />
					<h2>Mili Dining Room</h2>
					<p>A full 2 BHK solution for your house! Once you take this you need not worry about anyth...</p>
					<div>Starts at ₹300/mo<span>Add to Cart</span></div>
				</a>
			</li>
		</ul>
	</div>
</div>
	


{{#contentFor "scriptHolder"}}

{{/contentFor}}